.form,
.input {
    border-radius: 0.25rem;
}

.form {
    padding: 1.1rem 1.25rem;
    background: var(--secondary-background-color);
    max-width: 25rem;
    position: relative;
    border: 0.013rem solid #21262d;
    margin: 0 auto;
}

.input {
    background: var(--primary-background-color);
    color: #c9D1d9;
    border: 0.006rem solid #928e8e35;
    display: block;
    width: 100%;
    padding: 0.65rem 0.75rem;
    outline: none;
    font-size: 1rem;
}

.error {
    color: var(--text-red-500);
    display: block;
    margin-top: 0.75rem;
    text-align: left;
}