.form {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.25rem;
    background: #161b22;
    max-width: 28rem;
    position: relative;
    border: 0.2px solid #21262d;
}

.input {
    background: #0D1117;
    color: #c9D1d9;
    border: 0.1px solid rgba(146, 142, 142, 0.206);
    display: block;
    width: 100%;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: 0.25rem;
    outline: none;
    font-size: 1rem;
}

.error {
    color: #ef4444;
    display: block;
    margin-top: 0.75rem;
}