:root {
  --black-color-x0: #111111;
  --black-color-x5: #20212C;
  --black-color-x6: #bdbdbd26;
  --black-color-x7: #535353a7;
  --black-color-x8: #6464643f;
  --black-color-x9: #64646456;
  --black-color-x10: #bdbdbd1b;
  --black-color-x11: #111827;
  --black-color-x12: #121b2d;

  --white-color-x0: #FFFFFF;
  --white-color-x1: #F2F2F2;
  --white-color-x2: #F8F9FA;

  --red-color-x0: #d93025;
  --red-color-x1: #fca5a5;

  --blue-color-x0: #4285f4;
  --blue-color-x1: #4d90fe;
  --blue-color-x2: #4787ed;
  --blue-color-x3: #3079ed;
  --blue-color-x4: #357ae8;
  --blue-color-x5: #2b7de9;
  --blue-color-x6: #1a73e8;

  --blue-color-x7: #3b82f6;
  --blue-color-x8: #60a5fa;
  --blue-color-x9: #0E517E;
  --blue-color-x10: #93c5fd;
  --blue-color-x11: #6798f9;

  --gray-color-x0: #dcdada;
  --gray-color-x1: #c0c0c0;
  --gray-color-x2: #70757a;
  --gray-color-x3: #6b7280;
  --gray-color-x4: #616161;
  --gray-color-x5: #bdbdbd;
  --gray-color-x6: #ddd;

  --box-shadow-x0: rgba(0, 0, 0, 0.02);
  --box-shadow-x1: rgba(27, 31, 35, 0.15);
  --box-shadow-x2: rgba(0, 0, 0, 0.16);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0D1117;
  color: #e2e8f0;
}


a {
  text-decoration: none;
  color: var(--white-color-x0);
}

table,
th,
td {
  border: 0.1px dotted rgb(241 245 249);
  border-collapse: collapse;
}