/* ListTasks Component */

.list,
.item,
.icons {
    display: flex;
}

.buttons,
.disabled_block {
    padding: 0.1em;
}

.list {
    padding: 0;
    max-width: 25rem;
    flex-direction: column-reverse;
    margin: 1rem auto;
}

.empty {
    color: var(--text-gray-300);
    font-size: 0.9em;
    margin: 2rem auto;
}

/* Task Component */

.item {
    background: var(--secondary-background-color);
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    list-style: none;
    position: relative;
    border-radius: 0.25rem;
    min-height: 3.125rem;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
}

.item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0.031rem solid var(--blue-color-x9);
    border-radius: 0.188rem;
    opacity: 0;
    transition: opacity 0.2s linear;
    pointer-events: none;
}

.item:hover.item::before {
    opacity: .7;
}

.crossed,
.uncrossed {
    text-align: left;
    margin-right: 0.625rem;
    user-select: none;
}

.crossed {
    text-decoration: line-through;
    color: var(--gray-color-x3);
    cursor: pointer;
}

.uncrossed {
    text-decoration: none;
    color: var(--text-gray-100);
    cursor: pointer;
}

.icons {
    align-items: center;
    gap: 0.313rem;
}

.icons span:first-of-type,
.icons span:last-of-type {
    width: 1.563rem;
    height: 1.563rem;
    border-radius: 0.188rem;
    display: grid;
    place-content: center;
    transition: background 0.1s ease;
    cursor: pointer;
}

.icons span:first-of-type:hover,
.icons span:last-of-type:hover {
    background: var(--black-color-x7);
}

.delete {
    color: var(--text-red-300);
}

.edit {
    color: var(--blue-color-x10);
}

.buttons {
    background: var(--black-color-x8);
    outline: none;
}

.buttons:hover {
    background: var(--black-color-x9)
}

.disabled_block {
    background: var(--gray-color-x4);
    pointer-events: none;
    cursor: not-allowed;
}

.disabled_edit {
    color: var(--gray-color-x5)
}