.blocks {
    display: block;
    margin-top: 20px;
    font-size: small;
    color: #d1d5db;
    user-select: none;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.2rem;
}